@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'button_font';
    src: url(assets/fonts/static/Inter-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'p_font';
    src: url(assets/fonts/static/Inter-Regular.ttf) format('truetype');
}

:root {
    --default_font: "Inter", sans-serif;

    --grey: #333333;
    --dark_grey: #1f1f1f;
    --off_black: #141414;
    --green: #c5f82a;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--default_font);
}

body {
    color: white;
    background-color: var(--off_black);
}

main {
    background-color: var(--dark_grey);
    border-radius: 10px;
    height: 90vh;
    max-width: 375px;
    margin: auto;
    margin-top: 50px;
}

main p {
    font-size: 14px;
}

.jessica {
    width: 25%;
    border-radius: 50%;
    padding: 20px 0px;
}

#apresentacao {
    text-align: center;
    margin: auto;
}

section#apresentacao h2 {
    color: var(--green);
    font-weight: 600;
    font-size: 0.9em;
    padding-top: 5px;
}

section#apresentacao p {
    padding: 25px 0px;
    font-family: 'p_font';
}

section.links button {
    display: block;
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    height: 45px;
    background-color: var(--grey);
    font-family: 'button_font';
}

.links a>button {
    text-decoration: none;
    color: white;
    transition: 300ms;
}

.links a {
    text-decoration: none;
}

.links button:hover {
    cursor: pointer;
    background-color: var(--green);
    color: var(--dark_grey);
    transform: scale(1.03);
    box-shadow: 0px 0px 15px #c5f82a70;
}

footer {
    margin-top: 50px;
    padding: 10px;
}

.attribution a::after {
    content: '\1F517';
}

.attribution a:hover {
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}