@charset "UTF-8";

/*Mobile First*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /*Cores*/
    --bg_color: #0a0c1b;
    --strong_color: #9f66c7;
    --main_color: #1c1938; 
    --imagem_color: #aa5cdb;
}

body {
    background-color: var(--bg_color);
    color: white;
}

main {
    margin: auto;
    background-color: var(--main_color);
    height: 125vh;
    width: 90vw;
    border-radius: 8px;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

main section#image {
    background: var(--imagem_color) url(images/image-header-mobile.jpg) center center no-repeat;
    background-size: cover;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
}

main section#principal {
    height: 50%;
    width: 85%;
    margin: auto;
    margin-top: 30px;
}

main p {
    font-size: 15px;
    text-align: center;
}

main h2 {
    text-align: center;
}

article#princ {
    text-align: center;
    font-size: 1.6em;
}

strong {
    color: var(--strong_color);
}

main #princ > p, #conquest {
    margin: 25px 0px;
}

main #princ >p, #conquest p {
    line-height: 25px;
    color: #ffffffbf;
    letter-spacing: 1px;
}

main #conquest h2 {
    margin: 30px 0px 5px 0px;
    font-size: 2em;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    main #conquest article {
        display: inline-block;
        margin: 0px 50px;
    }

    main {
        height: 100vh;
    }

    main section#image {
        height: 50%;
    }
}

/*Desktop ou Telas Maiores*/
@media screen and (min-width: 992px) {
    main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        height: 50vh;
    }

    main section#image {
        background-image: url(images/image-header-desktop.jpg);
        width: 50%;
        height: 100%;
        border-radius: 8px 0px 0px 8px;
    }

    main section#principal {
        width: 50%;
    }

    main section#principal, h1, article#princ > p {
        text-align: start;
        padding: 0px 30px;
    }

    article#princ > p {
        font-size: 0.5em;
        line-height: 20px;
    }

    main section#conquest article {
        margin: 0;
        font-size: 0.7em;
        margin: 20px 0px 0px 30px;
    }

    main section#principal article h2 {
        text-align: start;
        margin: 0;
    }

    #conquest p {
        font-size: 1em;
    }

    .attribution { 
        position: absolute; 
        left: 50%;
        transform: translateX(-50%);
        top: 96%;
    }
}