@charset "UTF-8";

body {
    background-color: #535353;
}

main {
    height: 926px;
    width: 428px;
    background-color: #121212;
    display: block;
    margin: auto;
}

img.whatsapp {
    width: 139px;
    height: 139px;
    position: absolute;
    top: 50%;
    left: 45%;
    transition: 300ms;
}

img.whatsapp:hover {
    transform: scale(1.1);
}

img.meta {
    position: absolute;
    top: 120%;
    left: 45%;
}