@charset "UTF-8";

/*Versão Mobile First*/

@font-face {
    font-family: 'inter_regular';
    src: url(../assets/fonts/static/Inter-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'inter_bold';
    src: url(../assets/fonts/static/Inter-Bold.ttf) format(truetype);
}

@font-face {
    font-family: 'inter_extrabold';
    src: url(../assets/fonts/static/Inter-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: 'inter_variable';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format(truetype);
}

:root {
    /*Cores*/
    --title_and_bg: #00011A;
    --read_button: #F25E4F;
    --p_color: #5c5c5c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 96vw;
    height: 100vh;
}

body {
    font-family: 'inter_regular';
}

header,
main {
    padding: 20px;
}

header>section#logo_burguer>img {
    display: block;
}

header>section#logo_burguer {
    display: flex;
    justify-content: space-between;
}

header #logo {
    width: 50px;
}

header #menu_burguer {
    width: 50px;
    height: 20px;
    margin-top: 8px;
    cursor: pointer;
}

menu {
    width: 200px;
    background-color: rgb(231, 231, 231);
    margin-left: 135px;
    padding: 30px;
    display: none;
}

menu ul {
    list-style-type: none;
}

menu ul>li>a {
    color: black;
    text-decoration: none;
}

li>a:hover {
    text-decoration: underline;
}

ul>li {
    margin-bottom: 20px;
}

main section#home>article>img {
    width: 85vw;
}

section#title h1 {
    font-size: 2.5em;
    font-family: 'inter_extrabold';
    line-height: 1em;
    color: var(--title_and_bg);
    margin: 15px 0px;
}

main section#home p {
    font-size: 14px;
    line-height: 1.8em;
    color: var(--p_color);
}

main section#home button {
    color: white;
    background-color: var(--read_button);
    border: none;
    padding: 11px 25px;
    text-transform: uppercase;
    font-family: 'inter_variable';
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 0.7em;
    margin-top: 20px;
    cursor: pointer;
}

main section#new {
    background-color: var(--title_and_bg);
    color: #dddddd;
    padding: 15px 15px 25px 15px;
    margin: 60px 0px;
}

main section#new hr {
    border: 1px solid #dddddd9f;
    margin: 30px 0px;
}

main section#new h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 12px;
}

main section#new h1 {
    color: #f7bc74;
    margin-bottom: 25px;
}

main section#new p {
    line-height: 1.7em;
    font-size: 15px;
}